.article-big {
  padding-bottom: 13px;
  &:not(:last-child) {
    border-bottom: 1px solid #d5e0e8;
    margin-bottom: 13px;
  }
  a {
    display: flex;
    align-items: flex-start;
    color: #141414;
    text-decoration: none;
  }
  &__img {
    width: 47%;
    margin-right: 5%;
    flex-shrink: 0;
    position: relative;
    &:after {
      content: '';
      display: block;
      padding-top: 55%;
    }
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: 0.3s;
    }
  }
  &__content {
    
  }
  &__title {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 1.05;
    font-weight: 700;
    color: #141414;
    transition: 0.3s;
  }
  &__text {
    font-size: 14px;
    color: #84919c;
    line-height: 1.4;
    span {
      font-weight: 700;
    }
  }
  a {
    &:hover {
      .article-big__title {
        color: #84919c;
      }
      .article-big__img {
        img {
          filter: contrast(.7);
        }
      }
    }
  }
  @media (max-width: 768px) {
    &__img {
      width: 35%;
      margin-right: 21px;
      &:after {
        padding-top: 69%;
      }
    }
    &__title {
      font-size: 16px;
      line-height: 1.25;
    }
    &__text {
    }
  }
}