/* settings */
html {
  height: 100%;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
button,
input,
textarea {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 16px;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fff;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 16px;
  line-height: 1.125;
  &.lock {
    position: fixed;
  }
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 0 12px;
  border-top: 3px solid #141414;
  border-bottom: 1px solid #d5e0e8;
  margin-bottom: 29px;
  font-size: 31px;
   &__all-btn {
    display: flex;
    flex-shrink: 0;
    position: relative;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 15px;
      margin-left: 5px;
      background-image: url("data:image/svg+xml,%0A%3Csvg height='15' viewBox='0 0 8 15' width='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m57.8662516 3.28765349 5.5732313 6.33500004-5.5732313 6.33500007' fill='none' stroke='%23cad7e0' stroke-width='2' transform='translate(-57 -2)'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 4px 0 8px;
    margin-bottom: 16px;
    font-size: 20px;
    &__all-btn {
      margin-top: 5px;
    }
  }
}
/* /settings */